@model AtendimentoHospitalar.Models.Paciente
@{
    ViewBag.Title = "Novo";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Novo Paciente</h4>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nome, new { @class="form-control"})
            </div>  
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObjPlanoDeSaude, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @* @Html.DropDownList("ObjPlanoDeSaude.Id", ViewBag.PlanoId as SelectList, string.Empty, new { @class = "form-control" })*@
                @Html.DropDownListFor(model=>model.ObjPlanoDeSaude.Id, ViewBag.PlanoId as SelectList, string.Empty, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnumTipoConveniado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.EnumTipoConveniado, new { @class = "form-control" })
            </div>
        </div>
        
        
        @*AQUI TRABALHAREMOS O MODAL*@
        <div class="form-group">
            @Html.LabelFor(model => model.ObjCidade.CidadeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group col-md-4">
                    @Html.HiddenFor(model => model.ObjCidade.CidadeId)
                    @*@Html.TextBoxFor(model => model.ObjCidade.Estado, new { @class = "control-label col-md-4",@id="est"})*@
                    @Html.TextBoxFor(model => model.ObjCidade.Nome, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <a href="#" id="btnBuscarCidade" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.ObjCidade.CidadeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" value="Gravar" class="btn btn-lg btn-success"> 
    </div>

}

@*MODAL CONSULTANDO ENDEREÇO*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Selecione a cidade</h4>
            </div>
            <div class="modal-body">

                @Html.LabelFor(model => model.ObjCidade.Estado)
                @Html.EnumDropDownListFor(model => model.ObjCidade.Estado, "Selecione...", new { @class = "form-control" })

                <div class="row" id="cidadeEstado">

                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $("#ObjCidade_Estado").on("change", function () {
            var estadoView = $(this).val();
            $("#cidadeEstado").load('@Url.Action("ListarPorEstadoPraCliente", "Cidade")', { estado: estadoView });
        });

        $("#cidadeEstado").on("click", "td a", function () {
            $("#ObjCidade_CidadeId").val($(this).attr("id"));
            $("#ObjCidade_Nome").val($(this).attr("data-value"));
            //$("#est").val($(this).attr("data-value"));
            $("#myModal").modal("hide");
        });
    </script>
}