@model IEnumerable<AtendimentoHospitalar.Models.Cidade>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Criar um Novo", "Novo",null, new { @class = "btn btn-success btn-sm" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.CidadeId }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Excluir", "Excluir",new { id = item.CidadeId }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    </tbody>
    }

</table>
